.logo {
  font-size: 26px;
  cursor: pointer;
  display: flex;
  @media (max-width: 768px) {
    font-size: 20px;
  }
  .word {
    color: #f27c1f;
    &::first-letter {
      color: #F53929;
    }
  }
}
