.eventPage {
  padding-top: 10px;
  padding-bottom: 10px;
  form[class*="ant-form"] {
    div[class*="ant-form-item"] {
      label {
        color: #b2beb5;
      }
      div[class*="ant-radio-group"] {
        @media (max-width: 479px) {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
