@import "@styles/reset.scss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  * {
    font-family: "Mortal Kombat 4", sans-serif;
  }
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}
